<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
	    <style>
      body{
        background:#e5e5e5;
      }
    </style>
    
       <style type="text/css"> 
   .transformacion1 { text-transform: capitalize;}   
   .transformacion2 { text-transform: uppercase;}   
   .transformacion3 { text-transform: lowercase;}   
   </style> 
<body>
    <header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
	   
	   <div class="card bg-light">
	   
	   <div class="card-header justify-content-center" th:text="${titulo}"></div>
			<div class="card-body">
			

			   		<ul class="nav justify-content-center">
  					<li class="nav-item">
   					 <a class="nav-link active" aria-current="page" href="#">Material de Aprendizaje</a>
  					</li>
 					 <li class="nav-item">
   					 <a class="nav-link" href="#">Actividades</a>
 					 </li>
  					<li class="nav-item">
   					 <a class="nav-link" href="mis-calificaciones">Calificaciones</a>
  					</li>
					</ul>
			   		

		</div>

</div>
		</div>
		
		
		<div class="container py-4">
	   
	   <div class="card bg-light">
	   <div class="card-header"><a>Material de aprendizaje</a></div>
			<div class="card-body">
				<div style="text-align: center">	
				<a th:href="@{/listar-estudiantes}" class="btn btn-info">AGREGAR</a>
			   	</div>
			   	

			   		

		</div>

</div>
		</div>
		
		
</body>
</html>