<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
    <style>
      body{
        background:#e5e5e5;
      }
    </style>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="row d-flex justify-content-center">
	<div class="container mt-4 row d-flex justify-content-center">
	
	<div class="col-sm-6 ">
	
				<form th:action="@{/nuevo-administrador}" th:object="${administrador}"
					method="post" enctype="multipart/form-data">								
					<div class="card">
						<div class="card-header">
						<h3
							class="text-secundary"
							th:text="${titulo}"></h3>
						</div>
					<div class="card-body">	
						
						
				
							<div class="form-group"><label>NOMBRE ADMINISTRADOR</label>	
									<input type="text" th:field="*{nombres}" class="form-control" />
						</div>
						
							<div class="form-group"><label>APELLIDO ADMINISTRADOR</label>

									<input type="text" th:field="*{apellidos}" class="form-control"
								 />

						</div>
												
						<div class="form-group"><label>FECHA NACIMIENTO</label>
							<input type="date" th:field="*{fechaNac}" class="form-control"
								required placeholder="dd-mm-aaaa" />
						</div>
						
						
						
						<div class="form-group"><label>NUMERO TELEFONO ESTUDIANTE</label>
							<input type="text" th:field="*{telefono}" class="form-control"/>
						</div>
						
						
						<div class="form-group"><label>DIRECCION</label>
							<input type="text" th:field="*{direccion}" class="form-control"
								 />
						</div>
						
						
																		
					</div >
					
					<input type="hidden" th:field="*{id}" />
					
					<div class="form-group text-center">
					<div class="col-sm-6">
					<input type="submit" value="GUARDAR" class="btn btn-info " />
					
					<a th:href="@{/listar-administradores}" class="btn btn-warning">CANCELAR</a>
					</div>
					</div>


				</div>
				</form>

			</div>
		</div>
	
</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>