<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
    <style>
      body{
        background:#e5e5e5;
      }
    </style>
<body>
	<header th:replace="layout/layout :: header"></header>
	
		
	<div class="row d-flex justify-content-center">
	<div class="container mt-4 row d-flex justify-content-center">
	
	<div class="col-sm-20 ">
	
		
		<div class="card">
		
		<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
		
				<h4 class="card-tittle">
				<a th:href="@{/nueva-nota}" class="btn btn-outline-primary btn-xs">NUEVA NOTA</a>
				<a th:href="@{/listar-docentes}" class="btn btn-outline-primary btn-xs">DOCENTES</a>
				<a class="nav-link" th:href="@{/report/grupos/download/(tipo=PDF)}" 
					title="Exportar a PDF" target="_blank">	
					<img class="img-responsive center-box" th:src="@{/img/pdf.png}" height="auto">						
				    </a>	


				</h4>
				
				<div class="table-responsive">
				<div class="row d-flex justify-content-center">
				<table class="table table-striped " th:if="${!notas.isEmpty()}">
					<thead class="bg-dark text-white">
						<tr>
							<th scope="col">#</th>
							<th scope="col">ESTUDIANTE</th>
							<th scope="col">CURSO</th>
							<th scope="col">NOTA</th>																
							<th scope="col">OBSERVACION</th>
							<th scope="col">EDITAR</th>
							<th scope="col">ELIMINAR</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="nota: ${notas}" >																
							<td><a class="btn btn-primary btn-xs"
								th:href="@{/detalle-nota/} + ${nota.id}" th:text="${nota.id}"></a></td> 																
							<td th:text="${nota.estudiante.nombresEstudiante+' '+nota.estudiante.apellidosEstudiante}"></td>
							<td th:text="${nota.curso.nombreCurso}"></td>
							<td th:text="${nota.nota}"></td>
							<td th:text="${nota.observacion}"></td>
							
							<td class="text-center"><a class="btn btn-outline-warning btn-xs"
								th:href="@{/editar-nota/} + ${nota.id}">EDITAR</a></td>
							<td class="text-center"><a class="btn btn-outline-danger btn-xs"
								th:href="@{/eliminar-nota/} + ${nota.id}"
								onclick="return confirm('Desea eliminar la Nota?');">ELIMINAR</a></td>
						</tr>
					</tbody>
				</table>
																						
											<div class="container mt-4 row d-flex justify-content-center">
				<nav th:replace="paginator-nav :: paginator"></nav>
				</div>
				</div>
		</div>			
	</div>
			</div>
		</div>
		</div>
	
</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>