<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
    <style>
      body{
        background:#e5e5e5;
      }
    </style>
<body>
    <header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
	   
	   <div class="card bg-light">
	   <div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
			

			   		
			   		<ul class="list-group">
			   		
			   		<li class="list-group-item active" th:text="${actividad.curso.nombreCurso}"></li>
			        <li class="list-group-item" th:text="${actividad.desc}"></li>
			   		<li class="list-group-item" th:text="${actividad.fechaInicio}"></li>
			   		<li class="list-group-item" th:text="${actividad.fechaFin}"></li>
			   		<li class="list-group-item" th:text="${actividad.bimestre.nombreBimestre}"></li>
			   		<li class="list-group-item" th:text="${actividad.carpetaActividades.nombreCarpetaActividad}"></li>

			   		</ul>
			   		
			   	<br/>
			   	<a th:href="@{/listar-actividades}" class="btn btn-warning">REGRESAR</a>
			   		
			 </div>
		</div>
		
		</div>
		
		
		
	<footer th:replace="layout/layout :: footer"></footer>
	   
		
</body>
</html>