a.button {
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;

    text-decoration: none;
    color: white;
}

.search_select_box{
	max-width: 400px;
	margin: 80px auto;
	
}
.search_select_box select {
	width: 100%;
	
}

.search_select_box select {
	background-color: #080342;
	padding: 15px 25px;
	color: #fff;
	font-size: 20px;
	
}