<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
    <style>
      body{
        background:#e5e5e5;
      }
    </style>
<body>
<header th:replace="layout/layout :: header"></header>

	<div class="row d-flex justify-content-center">
	<div class="container mt-4 row d-flex justify-content-center">
	<img class="" src="img/ineb3.png" alt="Ineb">

<br/>
<br/>
<br/>


   <p ALIGN=center>

     <font size="6" color=black face="Ink Free">
     <b ><font size="7" color="black" face="Verdana">VISIÓN</font></b><br/>
  
     
     Cómo centro Educativo del Sector Público deseamos ser un Instituto <br/>
con liderazgo en la formación integral de estudiantes en el Ciclo Básico, <br/>
orientados para el uso de la tecnología, utilizando para ello metodología innovadora, <br/>
participativa y atención personalizada, lo que influirá en obtener como resultado <br/>
estudiantes eficientes y altamente preparados para continuar con su formación <br/>
profesional y para desenvolverse como tales en una sociedad moderna competitiva. <br/>
     



</font>
   </P>
   
      <hr color=black>
   <p ALIGN=center>
  
     <font size="6" color=black face="Ink Free">
     <b ><font size="7" color="black" face="Verdana">MISIÓN</font></b><br/>
    

Somos un Centro Educativo con experiencia en la formación <br/>
de estudiantes del Ciclo Básico, cuya formación comprende <br/>
además del desarrollo de habilidades y formación académica, <br/>
el desarrollo de valores morales y éticos, a la par de una <br/>
formación con sentido social. Para lo cual se aplica metodología <br/>
innovadora y participativa. <br/>
     

</font>


   </P>
   
   </div>
   </div>
      
	<footer th:replace="layout/layout :: footer"></footer>    
</body>
</html>