<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head th:replace="layout/layout :: head">
<meta charset="UTF-8">
</head>
    <style>
      body{
        background:#e5e5e5;
      }
    </style>
<body>
	<header th:replace="layout/layout :: header"></header>
	<div class="container py-4">
		<h1
			class="text-secundary border border-primary border-top-0 border-left-0 border-right-0"
			th:text="${titulo}"></h1>
	</div>
	<div class="container">
		<div class="card bg-dark text-white">
			
			<div class="card-body">
				<form th:action="@{/nuevo-bimestre}" th:object="${bimestre}"
					method="post" enctype="multipart/form-data">
									

					<div class="form-group row">
						<label class="col-sm-2 col-form-label">NOMBRE BIMESTRE</label>
						<div class="col-sm-6">
							<input type="text" th:field="*{nombreBimestre}" class="form-control"
								required placeholder="Bimestre" />
						</div>
					</div>



					<input type="hidden" th:field="*{idBimestre}" />

					<div class="form-group">
						<div class="col-sm-6">
							<input type="submit" value="Guardar" class="btn btn-secondary" />
						</div>
					</div>


				</form>

			</div>
		</div>
	</div>


	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>